{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
    <h1>Here are your search results, {{username}}</h1>
    
    <table>
        <tr>
            <th>Book ID</th>
            <th>Book ISBN</th>
            <th>Book Title</th>
            <th>Book Author</th>
        </tr>
        {% for book in books %}
            <tr class = 'clickable-row' data-href=>
                <th><a href = "{{ url_for('book', book_id= book.id)}}"> {{ book.id }}</a></th>
                <th>{{ book.isbn }}</th>
                <th>{{ book.title }}</th>
                <th>{{ book.author }}</th>
            </tr>
        {% endfor %}
        </table>

        
{% endblock %}
