{% extends "layout.html" %}

{% block title %}
    Flights
{% endblock %}

{% block body %}
    <h1>All books</h1>
    <h2>{{book.title}}</h2>
    <h2>{{book.isbn}}</h2> 
    <h2>{{avg_rate}}</h2>

    
    <form action="{{ url_for('review', book_id= book.id)}}" method="post">
        <button type="submit" name="book_id" value= {{book.id}} >Review book</button>
      </form>
    <h1>Reviews</h1>
    

    <table>
        <tr>
            <th>User</th>
            <th>Review</th>
        </tr>
        {% for review in reviews %}
            <tr>             
                <th>{{ review.username }}</th>
                <th>{{ review.user_review }}</th>
                <th>{{ review.review_score}}</th>
            </tr>
        {% endfor %}
        </table>

{% endblock %}
