{% extends "layout.html" %}

{% block title %}
    Book Review
{% endblock %}

{% block body %}
    <h2>Hello {{user}}! Write a review for {{book.title}} below:</h2>
    <form action="{{url_for('submitReviewSuccessful', book_id = book.id)}}" method ="post">
        <textarea name="review" rows="10" cols="30" placeholder = "I think that the book was ..."></textarea>
        <br>
        <h3>How would you rate it from 1 to 5?</h3>
        <input type="radio" name="rating" value="1"> 1<br>
        <input type="radio" name="rating" value="2"> 2<br>
        <input type="radio" name="rating" value="3"> 3<br>  
        <input type="radio" name="rating" value="4"> 4<br>
        <input type="radio" name="rating" value="5"> 5<br>  
        <input type="submit">
      </form>

{% endblock %}
